
@{
    ViewBag.Title = "PocetnaNeprijavljeni";
}
<head>
    <link rel="stylesheet" href="../../Style/Css/style.css">
    <link rel="stylesheet" href="../../Style/Css/style2.css">
</head>
<body>
    <header class="header">
        <div class="wrapper clearfix">
            <h1 class="naslov">Početna</h1>
            <div class="nav">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <form action="/Neprijavljen/Registracija" method="post">
                            <input class="submit" type="submit" value="Registracija" name="Registracija">
                        </form>
                    </li>
                    <li class="nav-list-item">
                        <form action="/Login/IndexLogin" method="post">
                            <input class="submit" type="submit" value="Login" name="Login">
                        </form>
                    </li>
                </ul>
            </div>
        </div>   
    </header>

    <main class="main">   
        <div class="wrapper"> 
            <form class="main-form" method="post" action="/Neprijavljen/PocetnaNeprijavljeni">
                <div class="sort">
                    <h2 class="main-naslov">Sortiranje:</h2>
                    <label class="form-control">
                        <input type="radio" name="typeOfSorting" id="rastuce" value="Rastuće" />
                        Rastuće
                    </label>

                    <label class="form-control">
                        <input type="radio" name="typeOfSorting" id="opadajuce" value="Opadajuće" />
                        Opadajuće
                    </label>

                    <div class="select">
                        <select name="sortBy" required>
                            <option value="Naziv"> Naziv</option>
                            <option value="Adresa"> Adresa</option>
                            <option value="DatumOtvaranja">Datum otvaranja</option>
                        </select>
                    </div>
                    <input class="main-button" type="submit" name="Option" value="Sort" />
                </div>

                <div class="find">
                    <h2 class="main-naslov-pretraga">Pretraga:</h2>
                    <div class="text">Naziv:</div><input class="input" type="text" name="Naziv" value="" placeholder="Naziv" /><br />
                    <div class="text">Adresa:</div><input class="input" type="text" name="Adresa" value="" placeholder="Ulica, Broj, Grad, Postanski broj" /><br />
                    <div class="text">Datum otvaranja:</div><input class="input" type="text" name="GornjaGranica" placeholder="GornjaGranica" />
                                                            <input class="input input-last" type="text" name="DonjaGranica" placeholder="DonjaGranica" /><br />
                    <br />
                    <input class="main-button" type="submit" name="Option" value="Find" />
                </div>
            </form>
            @if (ViewBag.FitnessCenters == null || ViewBag.FitnessCenters.Count == 0) {
                <p>Ne postoji nijedan fitnes centar</p>
            }
            else
            {   
        <h2 class="main-naslov-tabele">Fitnes Centri</h2>
        <table class="main-table">
            <thead>
                <tr><th>Naziv</th><th>Adresa</th><th>DatumOtvaranja</th><th></th></tr>
            </thead>
            @foreach (var fitnessCenter in ViewBag.FitnessCenters)
            {
                <tr>
                    <td>@fitnessCenter.Naziv</td>
                    <td>@fitnessCenter.Adresa</td>
                    <td>@fitnessCenter.DatumOtvaranja</td>
                    <td class="selec">
                        <form action="/Neprijavljen/DetaljanPrikaz" method="post">
                            <input class="button" type="submit" name="Detalji" value="Detalji">
                            <input type="hidden" name="Naziv" value="@fitnessCenter.Naziv">
                        </form>
                    </td>
                </tr>
            } 
        </table>
            }
        </div> 
    </main>
</body>