
@{
    ViewBag.Title = "IndexLogin";
}
<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>



<html>
<body>
    <br />
    <div class="container">
        <form method="post" action="/Login/Login">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input class="form-control" type="text" name="Username" id="Username" placeholder="Username" required="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input class="form-control" type="password" name="Password" id="Password" placeholder="Password" required="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input class="form-control" type="submit" name="Login" id="Login" value="Login">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <a href="/Neprijavljen/PocetnaNeprijavljeni">Back</a>            
                </div>
            </div>
        </form>
    </div>
</body>
</html>